*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: LEMON MILK, sans-serif;
}
html{
    font-size: 62.5%;
}
/* navbar */

.navbar{
    padding: 0.8rem !important;
  }
  
  .fa-facebook-square{
    font-size: 4rem;
    color: red;
   }
  
  #text-link1, #text-link2{
    padding-left: 2rem;
    position: relative;
    bottom: 1rem;
    font-size: 1.4em;
  }
  
  .fa-universal-access{
    font-size: 4rem;
    padding-right: 2rem;
    position: relative;
    top: .2rem;
  }
  
  .navbar-toggler{
    position: relative;
    bottom: 1rem;
  }
  
  .navbar-nav li{
    font-size: 1.5em;
  }
   
  .navbar-nav .dropdown-menu{
    float: left;
  }
  
form{
    width: 20%;
}
.form-control:focus{
    color: none;
    border-color: none;
    box-shadow: none;
}
.form-row{
    flex-wrap: nowrap;
}
#inputName, #inputUser, #inputEmail, #inputPassword, #reinputPassword, #inputCode{
    border: none;
    border-radius: 0;
    border-bottom: 2px solid black;
    outline: 0;
    text-align: center;
}
.radio{
    display: flex;
    flex-direction: column;
}
svg{
   position: relative;
   left: 8rem;
}
#blank{
    color: white;
}