* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
  background: #9F9F9F;
  border-bottom: 2px black solid;
  width: 100%;
  height: 100%;
}

.navbar-right {
  list-style-type: none;
}

.navbar li {
  float: left;
  padding: 10px;
}

.navbar #navelement a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar #navimg img {
  background: #9F9F9F;
  padding-top: 4px;
  width: 40px;
  height: 40px;
}

.navbar-right #navimg img {
  background: #9F9F9F;
  padding-top: 4px;
  width: 40px;
  height: 40px;
}

.navbar-right li {
  float: right;
}

.navbar #navimg #facebook:hover {
  content: url("res/FacebookLogo black.png");
}

.navbar-right #navimg #key:hover {
  content: url("res/key black.png");
}

.navbar #navelement a:hover {
  color: black;
}

#navtext {
  text-shadow: 10px 10px solid black;
}

.banner {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.bannertext{
  text-align: center;
  vertical-align: middle;
}



.banner .bannertext #extext{
  padding-left: 100px;
  font-size: small;
}
