* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

.navbar-left{
  list-style-type: none;
  overflow: hidden;
  background: black;
  border-bottom: 2px black solid;
  width: 100%;
  height: 100%;
}

.navbar-right {
  list-style-type: none;
}

.navbar-left li {
  float: left;
  padding: 10px;
}

.navbar-left a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  text-decoration: none;
}

.navbar-left #text-link{
  padding-top: 27px;
}

.navbar-left i{
  font-size: 40px;
  position: relative;
  bottom: 4px;
 
  
 
}
.navbar-right i{
  font-size: 40px;
  position: relative;
  left: 1860px;
  bottom: 70px;
  color: blue;
}


