* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}

.navbar-left{
  list-style-type: none;
  overflow: hidden;
  background: black;
  border-bottom: 2px black solid;
  width: 100%;
  height: 100%;
}

.navbar-right {
  list-style-type: none;
}

.navbar-left li {
  float: left;
  padding: 10px;
}

.navbar-left a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  text-decoration: none;
}

.navbar-left #text-link{
  padding-top: 27px;
}

.fa-facebook-square{
  padding: 0;
  font-size: 40px;
  position: relative;
  color: red;
  bottom: 4px;
  
}
.navbar-left i:hover{
  color:red;
  background-color: white;
}
.navbar-right i{
  font-size: 40px;
  position: relative;
  left: 1860px;
  bottom: 80px;
  color: rgb(0, 255, 42);
}

.carousel-inner img{
  width: 50%;
  position: relative;
  left: 25%;
}


