* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
/* .navbar{
  background-color: #112255 !important;
} */

/* navbar */

.navbar{
  padding: 0.8rem !important;
}

.fa-facebook-square{
  font-size: 4rem;
  color: red;
 }

#text-link1, #text-link2{
  padding-left: 2rem;
  position: relative;
  bottom: 1rem;
  font-size: 1.4em;
}

.fa-universal-access{
  font-size: 4rem;
  padding-right: 2rem;
  position: relative;
  top: .2rem;
}

.navbar-toggler{
  position: relative;
  bottom: 1rem;
}

.navbar-nav li{
  font-size: 1.5em;
}
 
.navbar-nav .dropdown-menu{
  float: left;
}

/* image-slider */

.carousel-inner img{
  width: 50%;
  position: relative;
  left: 25%; 
}

.carousel-control-prev{
  left: 25%;
}
.carousel-control-next{
  right: 25%;
}


