* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
/* .navbar{
  background-color: #112255 !important;
} */

.navbar{
  padding: 0.8rem !important;
}


.fa-facebook-square{
  font-size: 4rem;
  color: red;
 }



#text-link1, #text-link2{
  padding-left: 2rem;
  position: relative;
  bottom: 1rem;
  font-size: 1.4em;
}

.fa-universal-access{
  font-size: 4rem;
}

/* @media (max-width: 768px){
	#text-link1{
		position: relative;
		left: 12rem;	
	}
	#text-link2{
		position: relative;
		left: 26rem;

	}
} */



/* .navbar-left{
  list-style-type: none;
  overflow: hidden;
  background: black;
  border-bottom: 2px black solid;
  width: 100%;
  height: 100%;
}

.navbar-right {
  list-style-type: none;
}

.navbar-left li {
  float: left;
  padding: 10px;
}

.navbar-left a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  text-decoration: none;
}
/* 
.navbar-left #text-link{
  padding-top: 27px;
} */


/* .navbar-left i:hover{
  color:red;
  background-color: white;
}
.navbar-right i{
  font-size: 40px;
  position: relative;
  left: 1860px;
  bottom: 80px;
  color: rgb(0, 255, 42);
} */ 

.carousel-inner img{
  width: 50%;
  position: relative;
  left: 25%;
}


