* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.navbar {
  list-style-type: none;
  overflow: hidden;
  background: #CDCDCD;
  border-bottom: 2px black solid;
  width: 100%;
  height: 100%;
}

.navbar li {
  float: left;
  padding: 10px;
}

.navbar #navelement a{
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.navbar #navimg img{
  background: #CDCDCD;
  padding-top: 4px;
  width: 40px;
  height: 40px;
}

.navbar #navimg #key{
  float: right;
}

.navbar #navimg #facebook:hover{
  content:url("res/FacebookLogo black.png");
}

.navbar #navimg #key:hover{
  content:url("res/key black.png");
}

.navbar #navelement a:hover{
  color: black;
}
